@{
    ViewData["Title"] = "Home Page";

    var hora = ViewData["Hora"];
    var periodo = ViewData["Periodo"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hola son las: @hora</p>
    <p>Es @periodo</p>
</div>
