<h1>Formulario de Persona</h1>

<form [formGroup]="formulario">
  <p>
    <span>Nombre:</span>
    <input type="text" formControlName="nombre" />
        @if ((formulario.controls['nombre'].dirty ||
        formulario.controls['nombre'].touched) &&
        formulario.controls['nombre'].errors?.['required']) {
            <span>El nombre es obligatorio</span>
        }

  </p>

  <p>
    <span>Apellidos:</span>
    <input type="text" formControlName="apellidos" />
        @if ((formulario.controls['apellidos'].dirty ||
        formulario.controls['apellidos'].touched) &&
        formulario.controls['apellidos'].errors?.['required']) {
            <span>Los apellidos son obligatorios</span>
        }
  </p>

  <button type="button" (click)="saluda()">Saludar</button>
</form>