@model Ejercicio1.Models.Entities.CLSPersona;

<div>
    <h1>Datos de Model.nombre</h1>

    <p>
        ID: Model.ID<br />
        Nombre: Model.nombre<br />
        Edad: Model.edad
    </p>

    @Html.ActionLink("Ir a Index", "Index")
    @Html.ActionLink("Ir a ListadoPersonas", "ListadoPersonas")

</div>